<div class="content-wrapper">
  <div class="container">
    <div class="container-input">
      <div class="row">
        <form [formGroup]="form" (ngSubmit)="fetchLibraries()" (keydown.enter)="fetchLibraries()">
          <input formControlName="library" placeholder="Введите название библиотеки" type="text">
          <button type="submit" class="button" [disabled]="form.invalid">Получить список</button>
        </form>
      </div>
    </div>
    <div class="container-table">
      <table class="table">
        <col style="width: 10%;"/>
        <col style="width: 45%;"/>
        <col style="width: 45%;"/>
        <thead>
        <tr><th colspan="5">Библиотеки</th></tr>
        <tr>
          <th scope="col">П/п</th>
          <th scope="col">Название</th>
          <th scope="col">Адрес</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data; let i = index" (click)="openRow(item)">
          <td>{{i+1}}</td>
          <td [innerHTML]="item?.FullName | highlighter:searchText:'different'" ></td>
          <td>{{item?.ObjectAddress | getProperty}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
